
.parent{
    display: flex;

}

.div1{
    position: absolute;
width: 40vw;
height: 100vh;
left: 0px;
top: 0px;

background: #0458B7;
}

.div2{
    display: flex;
    position: absolute;
width: 60vw;
height: 100vh;
left: 40%;
top: 0px;
align-items: center;
justify-content: center;

background: #FFFFFF;

}


.divstyle1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Default styling for input box */
.input {
    width: 600px;
    height: 30px;
    font-size: 16px;
  }
  
  /* Adjust input width for smaller screens */
  @media screen and (max-width: 400px) {
    .input {
      width: 150px;
    }
    .div1{
        width:0;
        height:0;
        display:none
    }
    .div2{
        display:flex;
        flex-direction: column;
        height:100vh;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
  }
  
  /* Adjust input width for even smaller screens */
  @media screen and (max-width: 400px) {
    .input {
      width: 100px;
    }
  }
  
