
 .parent {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .container1 {
    width: 20vw;
    height: 100vh;
    border: 1px solid red;
    background-color: blue;
  }
  .container2 {
    width: 80vw;
    height: 100vh;
    border: 1px solid red;
  }
  .header {
    width: 100%;
    height: 6%;
    box-sizing: border-box;
    border: 1px solid blue;
  }
  .common {
    height: 2%;
    width: 100%;
  }
  .div1 {
    height: 12%;
    width: 100%;
    border: 1px solid black;
  }
  .div2 {
    height: 78%;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
  }
  ul li {
    padding: 15 20px;
    /* border:1px solid red; */

    list-style: none;
    color: black;
    color: aliceblue;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700px;
  }
  ul {
    margin-left: -12%;
  }
  .c1 {
    width: 100%;
    height: 12%;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    border: 1px solid black;
    box-sizing: border-box;
    color: blanchedalmond;
  }


  @keyframes shake {
0% { transform: translate(0, 0); }
10% { transform: translate(-5px, 0) rotate(-5deg); }
20% { transform: translate(5px, 0) rotate(5deg); }
30% { transform: translate(-5px, 0) rotate(-5deg); }
40% { transform: translate(5px, 0) rotate(5deg); }
50% { transform: translate(-5px, 0) rotate(-5deg); }
60% { transform: translate(5px, 0) rotate(5deg); }
70% { transform: translate(-5px, 0) rotate(-5deg); }
80% { transform: translate(5px, 0) rotate(5deg); }
90% { transform: translate(-5px, 0) rotate(-5deg); }
100% { transform: translate(0, 0); }
}

.bell-icon {
animation-name: shake;
animation-duration:1s;
animation-iteration-count: infinite;
margin-right: 20px;
}