/* 
.container{
    display:flex;
    flex-direction: column;
    border:1px solid red;
    height:60%;
    position: absolute;
    top:20%;
    left:40%;
   padding:60px;
} */

.inputField{
    display: flex;
    flex-direction: column;
}


.logoText{

  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
   
     height: 100vh;   /*  // to make it centre vertically make height =100vh */
    overflow-y: hidden;
  }

  .container{
    border: 2px solid black;
    padding: 20px 90px;
    border-radius: 10px;
    
  }

  .link{
    float:right;}

  .button{
    text-align: center;
  }

  .submit{
    background-color: blue;
    color:white;
    padding:10px 20px;
    border-radius: 10px;
  }

 .img{
  height: 60px;
  width: 65px;
 }

 .logo{
  text-align: center;
 }

 .inputField{
  margin:20px 0px;
 }

 .loginInput {
  width: 100%;
  background-color: grey;
  width:150px;
  box-sizing: border-box;}


 

